body {
  margin: 0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}
#user_hand{
  margin: 0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}
 #hand{
   margin: 0px 0px 0px 0px;
   padding:0px 0px 0px 0px;
 }
 button {
   width:327px;
   background-color: white;
   border-color: black;
   border-width: 8px;
   border-radius: 50px;
   color: black;
   font-size: 25px;
   font-weight: 900;
 }
 button:hover {
   background-color: black;
   border-color: grey;
   border-width: 8px;
   border-radius: 50px;
   color: white;
 }
