body,
html {
    height: 100%;
}

.bg {
    background-image: url("assets/img/pianoBG.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pianoKeys {
    width: 0 auto;
    opacity: 0.80;
    filter: alpha(opacity=80);
}